.movie-details-container {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
}

.gen-movie {
  display: grid;
  grid-template-columns: 2fr 1fr;

  img {
      width: 100%;
      box-shadow: 0px 10px 10px black;
  }
}

.movie-details {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.title-other-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.row-movie-details {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5em;
}

.back-to-main-button {
  padding: 10px;
  justify-content: center;
}

.back-to-main-button:hover {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.1);
}

.back-to-main-button:focus {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.1);
}

.movie-title {
  color: rgb(240, 240, 240);
  font-size: 4em;
  text-align: center;
}

.overview {
  padding: 0 2em 0 2em;
  text-align: justify;
  line-height: 1.2em;
}

.gradient {
  width: 100%;
  height: 65%;
  position: relative;
  bottom: 555px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%)
}
