.movie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1%;
    grid-column-gap: 5%;
    width: 100%;
    margin-left: 4%;
    margin-top: 3%;
}

.error-text {
    color: whitesmoke;
    font-size: 3em;
    margin-bottom: 5%;
}

.search-error {
    position: RELATIVE;
    left: 90%;
    text-align: center;
    width: 125%;
}