.movie-cards {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    width: 250px;
    display: flex;
    flex-direction: column;
    place-self: center;
    box-shadow: 0px 5px 10px black;
    color: whitesmoke;
    padding: 3%;
}

.movie-cards:hover {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid whitesmoke;
}

.movie-cards:focus {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid whitesmoke;
}
