form {
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: center;
}

.search-bar {
    font-size: 1em;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    border: 0px;
    border-radius: 5px;
    padding: 4px 30px 4px 30px;
    background-color: black;
    margin-bottom: 5%;
}

.search-button {
    width: 30px;
    height: 30px;
    margin: 0px;
    border-radius: 3px;
    border: none;
    background-color: black;
    text-align: center;
    // color: red;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
}

.search-button:hover {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.2);
    // background-color: white;
}

.search-button:focus {
    filter: brightness(115%);
    cursor: pointer;
    transform: scale(1.2);
    // background-color: white;
}