.title {
    font-family: 'Monoton', cursive;
    text-align: center;
    width: 100%;
    background-color: red;
    border: 2px solid yellow;
    height: 15%;
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
}
